<div class="container">
    <form class="form" action="" (submit)="submit()" [formGroup]="loginForm">
        <div class="header">
            LOGIN
        </div>
        <div class="covering">
            <div class="first">
                <div class="inner">
                  <div class="group">
                    <label for="">E-mail</label>
                    <div class="inpdiv">
                        <input formControlName="email" class="inp" type="text" />
                    </div>
                    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                        <div *ngIf="loginForm.get('email')?.errors?.['required']" style="color: red;">E-mail required</div>
                        <div *ngIf="loginForm.get('email')?.errors?.['email']" style="color: red;">Enter valid email</div>

                    </div>
                  </div>
                </div>
                <div class="inner">
                    <div class="group">
                        <label for="">Password</label>
                        <div class="inpdiv">
                            <input formControlName="password" class="inp" type="password" />
                        </div>
                        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                            <div *ngIf="loginForm.get('password')?.errors?.['required']" style="color: red;">Password required</div>
                            <div *ngIf="loginForm.get('password')?.errors?.['minlength']" style="color: red;">minimum 6 charecter required</div>

                        </div>
                      </div>
                </div>

            </div>
            <div class="submit">
                <button class="submittbutton" [disabled]="submitTried && loginForm.invalid">Submit</button>
                <p>Create an account? <a href="register">Register</a></p>
            </div>

        </div>

    </form>
</div>